@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  user-select: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Geist-Regular";
}

body {
  overflow-x: hidden;
  font-family: "Geist-Regular";
  background-color: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
  height: 32px;
  border-radius: 32px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
  border-radius: 32px;
}

::-webkit-scrollbar-thumb {
  background-color: #8f4ead;
  border-radius: 32px;
  outline: 1px solid #8f4ead;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Geist-Light";
  src: url("/fonts/Geist/Geist-Light.otf") format("OpenType");
}
@font-face {
  font-family: "Geist-ExtraLight";
  src: url("/fonts/Geist/Geist-ExtraLight.otf") format("OpenType");
}
@font-face {
  font-family: "Geist-Regular";
  src: url("/fonts/Geist/Geist-Regular.otf") format("OpenType");
}
@font-face {
  font-family: "Geist-Medium";
  src: url("/fonts/Geist/Geist-Medium.otf") format("OpenType");
}
@font-face {
  font-family: "Geist-Bold";
  src: url("/fonts/Geist/Geist-Bold.otf") format("OpenType");
}

@font-face {
  font-family: "Geist-SemiBold";
  src: url("/fonts/Geist/Geist-SemiBold.otf") format("OpenType");
}
